.MessageArea {
    margin-right: 30px;
}
.AuthMessage {
    text-align: right;

    img {
        margin-left: 10px;
    }
}
.SpinnerArea {
    position: relative;
    display: flex;
    margin: 20px;
    justify-content: center;
}
