.SyncBtnArea {
    position: absolute;
    margin-left: calc(100% - 50px);

    .SyncBtn {
        cursor: pointer;
        font-size: 1.2rem;
    }
}
.SpinnerArea {
    position: relative;
    display: flex;
    margin: 20px;
    justify-content: center;
}